body {
          
    background-color: #03c4a1;

    }    

h1{
    font-family: 'Patua One', cursive;
    font-size: 3.5em;
    margin-top: 30px ;
    text-align: center;
    color: #9d0191;

}

.btn{
    margin-top: 20px;
    background-color: #9088d4;
    color: black;
    font-size: 13px;
}

.btn:hover {
  background-color: #892cdc;
  transform: scale(1.1);
}


.card-head{
    font-size: 20px;
    color: #52057b;
    font-family: 'Open Sans', sans-serif;
    
}
.card-detail{
    font-size: 15px;
    font-family: 'Bree Serif', serif;
    
    
}
.crd-bod{
    background-color: #d8d3cd;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.card-img-top{
    height: 10rem;
    width: 14.2rem;
}
.row {
    margin-bottom: 20px;
    
    
}
.card-class{
    margin-right: -10px;
    
}

@media screen and (max-width: 600px){

    .row {
        width: 15rem;
        padding-left: 4rem;
    }
    .card-class{
        margin-bottom: 20px;
    }



}