.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  h1{
  font-family: 'Poppins', sans-serif;
  font-size: 4.5em;
  letter-spacing: -1px;
  background-color: #ff9a76);
  color: #4d4d4d;

  }

  body {
    font-family: 'Noto Sans', sans-serif;
    background-color: #28df99;
    
  }

/* Card Styles */

.card{
  width: 230px;
  height: 370px;
  

}
.card-img-top{
  width: 228px;
    height: 200px;
}
.card-body{
  padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    /* background-color: #32e0c4; */
}

.card-title{

  margin-bottom: 0.75rem;
  font-size: 0.9rem;
  text-align: center;


}
.card-text{
  font-size: 0.8rem;
  text-align: center;
}

.btn_card{
  font-size: 12px; 
  margin-left: 40px;
  border-radius: 30px ;
  width: 10em;
}
 

 .email_btn {
      width: 10%;
      padding: 0.5rem 2.5rem;
      font-family: 'Noto Sans', sans-serif;
      background-color: #158467;
      color: whitesmoke;
      font-size: 1.2rem;
      border-radius:30px;
      cursor: pointer;
      transition: .3s;
    }
  
  .email_btn:hover {
    background-color: #519872;
    color: whitesmoke;
    text-decoration: none;
  }
  .jumbotron{
    /* padding-top: 2rem; */
    padding-right: 1rem;
    /* padding-bottom: 2rem; */
    padding-left: 1rem;
  }

  
  

.profile-pic{
  width: 20%;
  border-radius: 70%;
  margin: auto ;
  padding-top: 10px;
}



  #summary{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    color: #A52A2A;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  /*footer*/
  .col_white_amrc {
    color: #FFF;
  }

  footer {
    width: 100%;
    background-color: #263238;
    min-height: 60px;
    position: fixed;
    bottom: 0;
    padding: 10px 0px 5px 0px;
  }

  .pt2 {
    padding-top: 40px;
    margin-bottom: 20px;
  }

  footer p {
    font-size: 13px;
    color: #CCC;
    padding-bottom: 0px;
    margin-bottom: 8px;
  }

  .mb10 {
    padding-bottom: 15px;
  }

  .footer_ul_amrc {
    margin: 0px;
    list-style-type: none;
    font-size: 14px;
    padding: 0px 0px 10px 0px;
  }

  .footer_ul_amrc li {
    padding: 0px 0px 5px 0px;
  }

  .footer_ul_amrc li a {
    color: #CCC;
  }

  .footer_ul_amrc li a:hover {
    color: #fff;
    text-decoration: none;
  }

  .fleft {
    float: left;
  }

  .padding-right {
    padding-right: 10px;
  }

  .footer_ul2_amrc {
    margin: 0px;
    list-style-type: none;
    padding: 0px;
  }

  .footer_ul2_amrc li p {
    display: table;
  }

  .footer_ul2_amrc li a:hover {
    text-decoration: none;
  }

  .footer_ul2_amrc li i {
    margin-top: 5px;
  }

  .bottom_border {
    border-bottom: 1px solid #323f45;
    padding-bottom: 20px;
  }

  .foote_bottom_ul_amrc {
    list-style-type: none;
    padding: 0px;
    display: table;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
  }

  .foote_bottom_ul_amrc li {
    display: inline;
  }

  .foote_bottom_ul_amrc li a {
    color: #999;
    margin: 0 12px;
  }

  .social_footer_ul {
    display: table;
    margin: 15px auto 0 auto;
    list-style-type: none;
  }

  .social_footer_ul li {
    padding-left: 20px;
    padding-top: 10px;
    float: left;
  }

  .social_footer_ul li a {
    color: #CCC;
    border: 1px solid #CCC;
    padding: 8px;
    border-radius: 50%;
  }

  .social_footer_ul li i {
    width: 20px;
    height: 20px;
    text-align: center;
  }

  ion-icon {
    font-size: 200px;
    color: blue;
    align-items: center;

  }