
html {
  scroll-behavior: smooth;
 }

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  h1{
  font-family: 'Poppins', sans-serif;
  font-size: 4.5em;
  letter-spacing: -1px;
  /* background-color: #ff9a76; */
  color: #4d4d4d;

  }
  h3 {
    font-family: 'Bree Serif', serif;
    /* text-indent: 10%; */
    line-height: 2;
    /* margin-top: 50px; */
    margin-left: 10px;
   padding-left: 50px;
  }

  h4{
    padding-left: 10px;
    padding-right: 100px;
    padding-top: 3rem;
    margin-left: 50px;
    /* font-family: 'Ubuntu', sans-serif; */
    font-family: 'Rubik', sans-serif;
  }

  body {
    font-family: 'Noto Sans', sans-serif;
    
  }
 
.navbar{
  background-color: #1a508b;

}

.navlogo{
  display: inline;
  margin-left: 30px;
  word-spacing: 8px;
  font-family: 'Playball', cursive;
  font-size: xx-large;
  color: white;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.navlogo:hover{
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  text-decoration: none;
  color: #ffcc29;
}

.nav-item{
  display: inline;
  margin-left: 30px;
  word-spacing: 8px;
  
  font-family: 'Alfa Slab One', cursive;
  font-family: 'Poppins', sans-serif;
  font-size: larger;
  color: white;

  /* trasitionproperty */
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.nav-item:hover{
  color: #c0e218;

  /* trasitionproperty */
  -webkit-transform: scale(1.1);
  transform: scale(1.1);

}

.nav-active{
  color: #c0e218;
  border-bottom: 4px solid #c0e218;
}





/* Card Styles */

.card{
  width: 230px;
  height: 370px;
  

}
.card-img-top{
  width: 228px;
    height: 200px;
}
.card-body{
  padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    /* background-color: #32e0c4; */
}

.card-title{

  margin-bottom: 0.75rem;
  font-size: 2px;
  text-align: center;
  line-height: 1;
  color: black;


}
.card-text{
  font-size: 18px;
  text-align: center;
  font-family: 'Rubik', sans-serif;
  color: black;
}

.btn_card{
  font-size: 12px; 
  margin-left: 40px;
  border-radius: 30px ;
  width: 10em;
}
 

 .email_btn {
      width: 50px;
      padding: 0.5rem 2.2rem;
      
      font-family: 'Poppins', sans-serif;
      background-color: transparent;
      color:#6930c3;
      font-size: 1.2rem;
      border-radius: 30px;
      border-color: #e43f5a ;
      border-width: 3px;
      border-style: solid;
      cursor: pointer;
      
      margin-top: 100px;

     

    }
  
  .email_btn:hover {
    background-color: #1ab7af;
    color: black;
    text-decoration: none;

   

  }

  .abt_btn{
    width: 50px;
    padding: 0.5rem 2.5rem;
    
    font-family: 'Poppins', sans-serif;
    background-color: #d35d6e;
    color: white;
    font-size: 1.2rem;
   
    border-radius: 30px;
    border-color: #e43f5a ;
    border-width: 3px;
    border-style: solid;
    cursor: pointer;
    transition: .3s;
    margin-top: 100px;
    margin-left: 20px;
  }

.abt_btn:hover {
    background-color: #7579e7;
    
    /* color: whitesmoke; */
    color: black;
    text-decoration: none;
  }



  .jumbotron{
    padding-top: 2rem;
    padding-right: 1rem;
    padding-bottom: 8rem;
    padding-left: 1rem;
    margin-bottom: 0px;
    background-color: #d1c145;
   
  }

  .skill-section{
    /* padding-top: 2rem; */
    position: relative;
    padding-bottom: 8rem;
    /* background-color: #ffe8df; */
    background-color: #bbf1fa;
  }
  .container-fluid{
    padding: 3% 7%;
}

.mail-section{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
  padding-top: 40px;
  position: relative;
     
     top:  50%;
 
}
.pic-email{
  width: 10%;
}

.news-title{
  text-align: center;
  font-size: 35px;
  
}

#isSubscribed{
  font-size: 20px;
  text-align: right;
  color: blue;
  margin-right: 200px;
}

.news-input{
  text-align: center;
  outline: auto;
  border: 1px solid black;
  width: 600px;
  height: 45px;
  font-size: 20px;
  font-family: 'Rubik', sans-serif;
}

.news-btn{
  background-color: #ec5858;
  border-color: #ec5858;
  outline: auto;
  width: 250px;
  height: 45px;
  margin-left: 20px;
  font-size: 20px;
  font-weight: inherit;
  font-style: initial;
  font-family: 'Poppins', sans-serif;

}
.news-btn:hover{
  border-color: crimson;
  background-color: #7579e7;

  
}


  
  .skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    font-size: 1.5rem;
  }
  .skill-cloud {
    
    /* padding-left: 30px; */
    padding-top: 3rem;
    /* padding-right: 50px; */
    margin-left: 100px;
    width: 15rem;
    height: 10rem;
    opacity: 0.9;
    
  }
  .skill-food {
    width: 15%;
    /* float: none; */
    
    margin-right: 30px;
  }

  .hobby-section{
    position: relative;
    height: 100%;
    margin-bottom: 0px;
    padding-bottom: 6rem;
  }
  .hobby-first{
    padding-left: 10px;
    padding-right: 20px;
    margin-left: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
  }


  .carousel-item{
    padding: 3% 7%;
  }

  .rounded {
    width: 10rem;
    height: 10rem;
    opacity: 0.8;
  }

.profile-pic{
  width: 25%;
  border-radius: 100%;
  
  /* box-shadow: 30px 15px 30px 10px#00ffff; */
  margin-top: 80px;
  position: relative; 
 
  ;
  
}


  #summary{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    color: #A52A2A;
    margin-top: 30px;
    margin-bottom: 40px;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }

  }



/*FOOTER*/

footer {
  background-color: #1a508b;
  /* background: -webkit-linear-gradient(59deg, #3A6073, #16222A);
  background: linear-gradient(59deg, #3A6073, #16222A); */
  color: white;
  
}

footer a {
  color: #fff;
  font-size: 14px;
  transition-duration: 0.2s;
}

footer a:hover {
  color: #FA944B;
  text-decoration: none;
}

ul.list-unstyled{
  list-style: none;
  display: inline;
  
  margin-left: 0px;
}


ul.list-unstyled li {
  font-size: 30px;
  margin: 0px 0px;
  margin-left: 0px;
  
}

.list-unstyled li a {
  font-size: 20px;
}

.footer-middle{
  position: relative;
  padding-top: 2rem;
  margin-right: 20px;
}
.heading-footer{
  text-align: center;
}

.copy {
  font-size: 20px;
  padding: 10px;
  border-top: 4px solid #FFFFFF;
  position: relative;
}


/* footer social icons */
ul.social-network {
  list-style: none;
  display: inline;
  word-spacing: 20px;
  margin-left: 0px;
  
}

ul.social-network li {
  display: inline;
  margin: 0px 0px;
  margin-left: 0px;
  
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: left;
  width: 50px;
  height: 50px;
  font-size: 45px;
  margin-bottom: 40px;
  margin-left: 0px;
  
 
}
.footer-text{
  padding-left: 30px;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
}
.social-circle li i {
  margin: 0;
  line-height: 30px;
  padding-bottom: 1rem;
 
}

.social-circle i {
  /* color: #595959; */
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
  
}
/* footer social icons */


@media screen and (max-width: 600px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }

  .navbar-toggler-icon{
   background-image: url("/images/ham.png");
  }

  .active{
    color: #c0e218;
    border-bottom: none;
  }

  .profile-pic{
    width: 50%;
  }

  .rounded {
    width: 7rem;
    height: 7rem;
  }

  .skill-cloud {
    margin-left: 50px;
    width: 10rem;
    height: 10rem;
    
  }

  .feature-title{
    font-size: 20px;
  }

  .hobby-first{
    font-size: 1.0rem;
  }

  .news-title{
    font-size: 25px;
    width: 450px;
    margin: 0px;
    padding-bottom: 30px;

  }

  .pic-email {
    width: 6rem;
    height: 6rem;

  }

  .news-input, .news-btn{

    width: 257px;
    height: 40px;
    
    padding-left: 40px;
    margin: 0px 0px 20px 0px;
    text-align: center;
    font-size: 18px;
   
  
  }
  
  .email_btn {
    width: 10px;
    height: 10rem;
    padding: 0.6rem 3.1rem;
    font-size: 0.9rem;
    margin-left: 20px;
    margin-right: 15px;

    
  }


  .abt_btn{
    width: 10px;
    height: 10rem;
    padding: 0.6rem 3.5rem;
    font-size: 0.9rem;
    white-space: pre;
    margin-top: 20px;
    margin-left: 10px;
    position: relative;; 
    top:50px;
    
  }

  .abt_btn:hover {
    background-color: #494c66;
    border-color: #1ab7af ;
    text-decoration: none;
  }

  .list-unstyled li a {
    padding-left: 20px;
    font-size: 18px;
  }

  .footer-text{
    font-size: 16px;
  }

  .footer-middle{
  
    margin-right: 10px;
  }

  .copy {
    font-size: 15px;
  }





}



